# Git LFS
Shared/lib/boost/** filter=lfs diff=lfs merge=lfs -text
Shared/lib/dlib/** filter=lfs diff=lfs merge=lfs -text
Shared/lib/openface/** filter=lfs diff=lfs merge=lfs -text

OpenPosePInvoke/OpenPoseLib/models/** filter=lfs diff=lfs merge=lfs -text
OpenPosePInvoke/OpenPoseLib/bin/x64/Common/** filter=lfs diff=lfs merge=lfs -text
OpenPosePInvoke/OpenPoseLib/bin/x64_CUDA/Common/** filter=lfs diff=lfs merge=lfs -text
OpenPosePInvoke/OpenPoseLib/bin/x64_CPU/Common/** filter=lfs diff=lfs merge=lfs -text